li { 
 display: inline-block;
 padding-left: 0px;
 border: 1px solid grey;
 width: 100%;
 margin-bottom: 10px;
}
li h3, .js-button-remove {
  margin-left: 20px;
}
li button {
  margin-bottom: 20px;
}
ul {
  padding: 0px;
}

section {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
  margin: 0px;
}

.checked {
  text-decoration: line-through;
}