body {
	margin: 0px;
	padding: 25px;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	color: #414449;
	font-size: 45px;
	text-align: center;
	margin-bottom: 45px;
}
li { 
	display: block;
	padding-left: 0px;
	color: white;
	font-family: 'Gloria Hallelujah';
	font-size: 25px;
	line-height: 15px;
	border-radius: 5px;
	background-color: #9ca4af;
	border: 0px solid;
	width: 40%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}
.btn-submit {
	background-color: #586596;
	padding: 8px 15px;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #455077;
	margin-top: 0px; 
}
.js-button-remove:hover {
	color: #ce4a4a;
}
#js-counter {
	text-align: center;
	margin-bottom: 50px;
	font-size: 20px;
	color: #737982;
	font-family: 'Fjalla One', sans-serif;
}
.js-button-check:hover {
	color: #e3e5ef;
}
.search-container {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

ul {
  padding: 0px;
}
input {
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #bfbfbf;
	width: 33%;
	margin-top: 0px;

}
section {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
  margin: 0px;
}
.complete{
	background-color: #adc6ad !important;
}

@media only screen and (max-width: 1100px){
	li { 
		width: 60%;
	}
}
@media only screen and (max-width: 800px){
	li { 
		width: 90%;
	}
}